body {
    background-color: #016A70;
    color: #EEEEEE;
    font-family: 'Bevan', serif;
    animation: 1s ease-out 0s 1 slideInLeft;
}

body::-webkit-scrollbar {
    display: none;
}

.top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/farm.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px;
    border-style: solid;
    border-color: #EEEEEE;
}

.title {
    padding-bottom: 40px;
    margin-top: -50px;
}

.navbar-brand img {
    width: 80px;
}

.navbar-nav {
    align-items: center;
}

.left {
    margin-left: -80px;
}

@media (max-width:991px) {
    .left {
        margin-left: 0px;
    }
}

.navbar-nav>li {
    margin-left: 50px;
    margin-right: 50px;
}

.navbar .navbar-nav .nav-link {
    color: #EEEEEE;
    font-size: 1.1em;
    padding: 0.5em 1em;
}

.navbar-toggler {
    background-color: #EEEEEE
}

@media screen and (min-width: 768px) {
    .navbar-brand img {
        width: 100px;
    }

    .navbar-brand {
        margin-right: 0;
        padding: 0 1em;
    }
}

header {
    padding: 300px;
    text-shadow: -1px 0 rgb(0, 0, 0), rgb(0, 0, 0)x rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), rgb(0, 0, 0)x rgb(0, 0, 0);
}

footer {
    padding-top: 20px;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.link {
    color: #EEEEEE;
}

.content-img {
    border-width: 3px;
    border-style: solid;
    border-color: #EEEEEE;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 95%;
}

.divider::before,
.divider::after {
    flex: 1;
    content: '';
    padding: 3px;
    background-color: rgb(255, 0, 0);
    margin: 5px;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-3%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

section {
    /*   skew adds a 4.76 degree slope and the translateY equation is based on the fact that a 4.76 degree slope has a gradient of 1:12 */
    transform: skew(0, -2deg) translateY(calc(50vw/-12));
    /*   And finally we account for the slope to make sure each section can occupy the full window... I added 10vw just to give it a little extra padding */
    min-height: calc(100vh - (50vw/-12));
    display: flex;
    align-items: center;
    justify-content: center;
}

section:not(:last-child, :first-child) * {
    transform: skew(0, 2deg) translateY(calc(50vw/12));
}

section:last-child {
    position: relative;
    transform: skew(0);
    margin-top: calc(100vw/-12);
    padding-top: calc(100vw/12);
    min-height: 100vh;
    z-index: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px;
    border-style: solid;
    border-color: #EEEEEE;
}

section:first-child {
    position: relative;
    transform: skew(0);
    z-index: 0;
}

/* COLORS AND OTHER STYLES TO ILLUSTRATE SECTIONS */
section:nth-child(1) {
    background-color: #222831;
}

section:nth-child(2) {
    background-color: #393E46;
}

section:nth-child(3) {
    background-color: #222831;
}

section:nth-child(4) {
    background-color: #393E46;
}

section:nth-child(5) {
    background-color: #222831;
}