body {
    background-color: #016A70;
    color: #EEEEEE;
    font-family: 'Bevan', serif;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

select {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/farm.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px;
    border-style: solid;
    border-color: #EEEEEE;
}

.title {
    font-family: 'Alfa Slab One', cursive;
    padding-bottom: 40px;
}

header,
main {
    margin: 50px;
}

footer {
    margin-top: 50px;
}

.navbar-brand img {
    width: 80px;
}

.navbar-nav {
    align-items: center;
}

.left {
    margin-left: -80px;
}

@media (max-width:991px) {
    .left {
        margin-left: 0px;
    }
}

.navbar-nav>li {
    margin-left: 50px;
    margin-right: 50px;
}

.navbar .navbar-nav .nav-link {
    color: #EEEEEE;
    font-size: 1.1em;
    padding: 0.5em 1em;
}

.navbar-toggler {
    background-color: #EEEEEE
}

@media screen and (min-width: 768px) {
    .navbar-brand img {
        width: 100px;
    }

    .navbar-brand {
        margin-right: 0;
        padding: 0 1em;
    }
}

header {
    padding: 100px;
    text-shadow: -1px 0 rgb(0, 0, 0), rgb(0, 0, 0)x rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), rgb(0, 0, 0)x rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

a:hover {
    text-decoration: underline;
}

.divider {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.divider::before,
.divider::after {
    flex: 1;
    content: '';
    padding: 3px;
    background-color: rgb(255, 0, 0);
    margin: 5px;
}

.card {
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.circle {
    stroke: rgb(245, 245, 245);
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    transition: all 0.5s ease-in-out;
    opacity: 0.3;
}

.playBut {
    /*  border: 1px solid red;*/
    display: inline-block;
    transition: all 0.5s ease;
    padding-top: 40px;


    .triangle {
        transition: all 0.7s ease-in-out;
        stroke-dasharray: 240;
        stroke-dashoffset: 480;
        stroke: rgb(245, 245, 245);
        transform: translateY(0)
    }


    &:hover {

        .triangle {
            stroke-dashoffset: 0;
            opacity: 1;
            stroke: rgb(245, 245, 245);
            animation: nudge 0.7s ease-in-out;

            @keyframes nudge {
                0% {
                    transform: translateX(0)
                }

                30% {
                    transform: translateX(-5px)
                }

                50% {
                    transform: translateX(5px)
                }

                70% {
                    transform: translateX(-2px)
                }

                100% {
                    transform: translateX(0)
                }
            }
        }

        .circle {
            stroke-dashoffset: 0;
            opacity: 1;
        }

    }
}

.playBut:hover {
    cursor: pointer;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: 0;
    transform: translate(-50%, -50%);
}

.duo {
    height: 20px;
    width: 50px;
    background: hsla(0, 0%, 0%, 0.0);
    position: absolute;
}

.duo,
.dot {
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.duo1 {
    left: 0;
}

.duo2 {
    left: 30px
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #EEEEEE;
    position: absolute;
}

.dot-a {
    left: 0px;
}

.dot-b {
    right: 0px;
}


@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(180deg)
    }
}

@keyframes onOff {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.duo1 {
    animation-name: spin;
}

.duo2 {
    animation-name: spin;
    animation-direction: reverse;
}

.duo2 .dot-b {
    animation-name: onOff;
}

.duo1 .dot-a {
    opacity: 0;
    animation-name: onOff;
    animation-direction: reverse;
}

/* Animation to "page content" */
.animate-bottom {
    position: relative;
    animation-name: animatebottom;
    animation-duration: 1s
}

@keyframes animatebottom {
    from {
        bottom: -50px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.game-area {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(222, 184, 135);
    border-radius: 10px;
    color: #111111;
}