body {
    background-color: #016A70;
    color: #EEEEEE;
    font-family: 'Bevan', serif;
    animation: 1s ease-out 0s 1 slideInLeft;
}

body::-webkit-scrollbar {
    display: none;
}

.top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/farm.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px;
    border-style: solid;
    border-color: #EEEEEE;
}

.btn {
    background-color: #64ccc5d5;
    color: rgb(0, 0, 0);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    width: 140px;
    height: 100px;
    transition: width 1s, height 1s;
}

.btn:hover {
    width: 160px;
    height: 110px;
}

.title {
    font-family: 'Alfa Slab One', cursive;
    padding-bottom: 40px;
}

Header,
Main {
    margin: 50px;
}

Footer {
    margin-top: 50px;
}

.navbar-brand img {
    width: 80px;
}

.navbar-nav {
    align-items: center;
}

.left {
    margin-left: -80px;
}

@media (max-width:991px) {
    .left {
        margin-left: 0px;
    }
}

.navbar-nav>li {
    margin-left: 50px;
    margin-right: 50px;
}

.navbar .navbar-nav .nav-link {
    color: #EEEEEE;
    font-size: 1.1em;
    padding: 0.5em 1em;
}

.navbar-toggler {
    background-color: #EEEEEE
}

@media screen and (min-width: 768px) {
    .navbar-brand img {
        width: 100px;
    }

    .navbar-brand {
        margin-right: 0;
        padding: 0 1em;
    }
}

Header {
    padding: 100px;
    text-shadow: -1px 0 rgb(0, 0, 0), rgb(0, 0, 0)x rgb(0, 0, 0), 1px 0 rgb(0, 0, 0), rgb(0, 0, 0)x rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

a:hover {
    text-decoration: underline;
}

.divider {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.divider::before,
.divider::after {
    flex: 1;
    content: '';
    padding: 3px;
    background-color: rgb(255, 0, 0);
    margin: 5px;
}

.card {
    margin: 0 auto;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-5%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}




html,
body {
    padding: 0;
    margin: 0;
}

section {
    width: 100%;
    /*   skew adds a 4.76 degree slope and the translateY equation is based on the fact that a 4.76 degree slope has a gradient of 1:12 */
    -webkit-transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
    -ms-transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
    transform: skew(0, -4.76deg) translateY(calc(50vw/-12));
    /*   And finally we account for the slope to make sure each section can occupy the full window... I added 10vw just to give it a little extra padding */
    min-height: calc(100vh - (110vw/-12));
}

section:not(:last-child) * {
    -webkit-transform: skew(0, 4.76deg) translateY(calc(50vw/12));
    -ms-transform: skew(0, 4.76deg) translateY(calc(50vw/12));
    transform: skew(0, 4.76deg) translateY(calc(50vw/12));
    margin-top: calc(50vw/-12);
}

section:last-child {
    position: relative;
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0);
    margin-top: calc(100vw/-12);
    padding-top: calc(100vw/12);
    min-height: 100vh;
    z-index: -1;
}





/* COLORS AND OTHER STYLES TO ILLUSTRATE SECTIONS */
section:nth-child(1) {
    background-color: #2B4141;
}

section:nth-child(2) {
    background-color: #0EB1D2;
}

section:nth-child(3) {
    background-color: #34E4EA;
}

section:nth-child(4) {
    background-color: #3e6f6b;
}

section:nth-child(5) {
    background-color: #b19f63;
}

section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}