body {
    background-color: #016A70;
    color: #EEEEEE;
    font-family: 'Playfair Display', serif;
}

body::-webkit-scrollbar {
    display: none;
}

.top {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/farm.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px;
    border-style: solid;
    border-color: #EEEEEE;
}

.btn {
    background-color: #64ccc5d5;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    width: 140px;
    height: 100px;
    transition: width 1s, height 1s;
}

.btn:hover {
    width: 160px;
    height: 110px;
}

.title {
    font-family: 'Alfa Slab One', cursive;
    padding-bottom: 40px;
}

Header,
Main,
Footer {
    margin: 50px;
}

Header {
    padding: 100px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 40px;
}

#logo {
    width: 170px;
    height: 100%;
}

.divider {
    font-size: 30px;
    display: flex;
    align-items: center;
}

.divider::before,
.divider::after {
    flex: 1;
    content: '';
    padding: 3px;
    background-color: red;
    margin: 5px;
}

.card {
    margin: 0 auto;
}